@import "tailwindcss";

@theme {
    --color-myblue: #1f2937;
    --color-myorange: #f97316;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-myblue);
  color: var(--color-myorange);
  max-width: 100vw;
  overflow-x: hidden;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
}


body {
  background-color: var(--color-1);
  color: var(--color-2);
  height: 100vh;
  width: 100vw;
}
 
a {
  color: var(--color-2);
  text-decoration: none;
}
 
a:hover {
  text-decoration: underline;
}
 
img {
  max-width: 100%;
  display: block;
}